/* hero styles */
.header-font {
  font-family: "Nunito";
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.subtitle-font {
  font-family: "Nunito";
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.hero-image {
  background-image: url("../images/kite-hero.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
/* end of hero styles */


/* Map Style */
#mapContainer {
  max-width: 60%;
  height: 500px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#map-text {
  text-align: center;
  justify-content: center;
}


/* button should be centered under the map */
 #search-button {
  background-color: rgba(63, 172, 245, 0.479);
  border-color: rgba(47, 108, 241, 0.63);
  font-family: "Nunito";
}

.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 500ms;
}


/* weather data */
.location-background {
  width: 50%;
  font-size: 30px;
  font-family: "Nunito";
  background-color: rgba(148, 147, 147, 0.13);
  padding: 10px;
  border-radius: 5px;
  border-style: double;
}

.location-header {
  font-size: 40px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 50px;
}


/* media queries */
@media screen and (max-width: 768px) {
  #mapContainer {
    max-width: 80%;
  }
 
  .mobile-text {
    font-size: 2rem;
  }

  .location-background {
    font-size: 25px;
    width: 70%;
  }

  .location-header {
    font-size: 30px;
  }
}
